@import "tailwindcss";




*{
  font-family: 'Yuji Boku', cursive;
  /* font-family: 'Space Grotesk', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
}


#HomePage{

  

  

  label{
    padding: 0.5rem 0;
    font-weight: bolder;
    font-size: 1.1rem;
  }

  select{
    padding: 0.5rem 10px;
    outline: none;
    border: none;
    background-color: #DC143C;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #000, 0px 0px 5px #000;
  }


  
}




.top{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

#profileCard{
  /* background-color: #102E50; */
  /* position: relative;
  overflow: hidden;
  z-index: -5;
  box-shadow: 0 0 5px #000;
  border-radius: 5px; */

  

  .p1{
    position: absolute;
    top: 40%;
    left: -5%;
    width: 300px;
    height: 550px;
    background-color: #DC143C;
    z-index: -1;
    transform: rotate(45deg);
  }
  .p2{
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 500px;
    height: 550px;
    border-radius: 50%;
    background-color: #20B2AA;
    z-index: -1;
    transform: rotate(45deg);
  }
  .p3{
    position: absolute;
    right: 80%;
    top: 20%;
    width:  200px;
    height: 100px;
    
    background-color: #102E50;
    z-index: -1;
    transform: rotate(45deg) ;

  }
  img{
    height: 130px;
    width: 110px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 5px #000;
  }
  
  ul{
    margin-top: 0.7rem;
    li{
      list-style-type: square;
      /* list-style-position: inside; */
      line-height: 1.1rem;
    }
  }
}



